
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    animation: slideIn 1s forwards;
}

h2 {
    animation: slideIn 1s forwards;
    margin-bottom: 20px;
    font-size: 28px;
}

p {
    margin-bottom: 10px;
    font-size: 18px;
    animation: slideInLeft 1s forwards;
}

main section {
    margin: 15px 0;
    background-color: #e9e8e8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1); /* Добавляем две тени для более эффектного вида */
}


header {
    border-radius: 10px;
    background-color: #ff9800;
    padding: 30px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 40px;
    margin: 10px 0 40px 0;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffa726;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #ffc067;
}

header nav ul li a.active {
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

/* Стили для текста в блоке about */
#about p {
    color: #333; /* Цвет текста темно-серый */
    font-size: 16px;
    line-height: 1.5; /* Межстрочный интервал увеличенный для лучшей читаемости */
}

/* Стили для области услуг */
#services {
    padding: 20px;
}

/* Стили для заголовка услуг */
#services h2 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

/* Стили для списка услуг */
#services ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

/* Стили для отдельной услуги */
#services li {
    flex-basis: calc(50% - 40px);
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Стили при наведении на услугу */
#services li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для заголовка услуги */
#services li h3 {
    color: #333;
    font-size: 22px;
    margin-bottom: 20px;
}

/* Стили для описания услуги */
#services li p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/* Стили для изображения услуги */
#services li img {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}


.grid-container img {
    transition: transform 0.3s ease;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container img:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.team div {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.team_name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.team_text {
    margin: 10px 0;
}

.team img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.slide {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.slide:nth-child(1) {
    transform: translateX(0);
}

.slide:nth-child(2) {
    transform: translateX(100%);
}

.slide:nth-child(3) {
    transform: translateX(200%);
}

.slide:nth-child(4) {
    transform: translateX(300%);
}

.slide:nth-child(5) {
    transform: translateX(400%);
}

.slide h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.slide_text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.slide_name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.slide img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.slide p:last-child {
    font-weight: bold;
}

.carousel-animation {
    animation: carouselAnimation 10s infinite;
}

@keyframes carouselAnimation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(-300%);
    }
    80% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(0);
    }
}


.contact_el {
    margin-left: 15px;
}


article {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

article:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-item {
    position: relative;
    padding: 20px;
}

.arrow-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.additional-info p {
    margin: 15px 0 0 15px
}

.additional-info {
    display: none;
}

.expanded .additional-info {
    display: block;
}

h3 {
    font-size: 1.2em;
    color: #333;
}

p {
    color: #666;
}


footer {
    padding: 20px;
    text-align: center;
    background-color: #ff9800;
    border-top: 1px solid #fff;
}

footer p {
    margin: 0;
    color: #fff;
    padding: 0;
    font-size: 16px;
}

@media (max-width: 500px) {
    body {
        margin: 5px;
    }

    header {
        padding: 20px;
    }

    header h1 {
        line-height: 1.2;
        font-size: 24px;
        margin-bottom: 30px;
    }

    header nav ul {
        margin-right: 20px;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    header nav ul li {
        width: 100%;
        margin: 10px 0;
    }

    header nav ul li a {
        display: block;
        width: 100%;
        font-size: 18px;
        padding: 8px 12px;
    }

    #services h2 {
        font-size: 22px;
    }

    h2 {
        font-size: 22px;
    }

    #faq h3 {
        font-size: 18px;
    }
    #faq p {
        font-size: 16px;
    }

    .container {
        padding: 5px;
    }

    #about p {
        font-size: 14px;
    }

    .team {
        display: block;
    }

    .team div {
        margin-bottom: 10px;
    }

    .slide img {
        width: 150px;
        height: 150px;
    }

    .slide_name {
        font-size: 18px;
    }

    .slide_text {
        font-size: 15px;
    }

    .arrow-icon {
        top: 10px;
        right: 5px;
    }
}